Source: everpad
Section: net
Priority: optional
Maintainer: Vladimir Yakovlev <nvbn.rm@gmail.com>
Build-Depends: cdbs (>= 0.4.49), debhelper (>= 7), python (>= 2.4), python-support, python-pyside.qtcore ,python-pyside.qtgui, python-dbus, python-beautifulsoup, sni-qt, python-pysqlite2, python-setuptools, python-keyring, python-webpy, python-sqlalchemy
Standards-Version: 3.9.2
Homepage: https://github.com/nvbn/everpad/
#Vcs-Git: git://git.debian.org/collab-maint/terminator.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/terminator.git;a=summary

Package: everpad
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-pyside.qtcore ,python-pyside.qtgui, python-dbus, python-beautifulsoup, sni-qt, python-pysqlite2, python-keyring, python-support, python-sqlalchemy, python-oauth2, python-unity-singlet | unity-singlet, python-magic, python-pyside.qtwebkit, python-html2text, gtk2-engines-pixbuf
Description: Ubuntu integrated evernote client
 Evernote client with unity integration

